footer {
  margin: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
}

.footer-logo {
  width: 100px;
}

.footer-logo img {
  width: 100%;
}

.footer-links {
   list-style-position: inside;
}

@media (min-width: 768px) {
   footer {
      flex-direction: row;
      justify-content: space-evenly;
      height: 30vh;
   }
}
