header {
   height: 100vh;     
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 2px solid #222;
   overflow: hidden;
   padding-bottom: 50px;
}

.logo-container {
   flex: 2;
   transform: scale(0.6);
}

#logo {
   width: 100%;
   aspect-ratio: 1;
}

.banner {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   gap: 15px;
   font-size: 0.75em;
}

.banner .igdm {
   width: fit-content;
   padding: 0.5em 1em;
   background-color: #5E10CA;
   font-size: 2em;
}

.banner-top {  
   border-radius: 5px 50px 50px 50px;
   align-self: flex-start;
}

.banner-down {  
   border-radius: 50px 5px 50px 50px;
   align-self: flex-end;
}

.banner-down img{  
   height: 1em;
}

@media (min-width: 768px) {
   header {
      height: fit-content;
      padding-bottom: 0;
   }

   .banner {
      flex: 3;
      padding-inline: 25%;
   }
}

* {
   box-sizing: border-box;
}