* {
   margin: 0;
   padding: 0;
}

body {
   width: 100%;
   background-color: rgb(7,7,7);
   color: rgb(230, 230, 230);
   font-family: Roboto;
   display: flex;
   flex-direction: column;
}

a {
   text-decoration: none!important;
   color: inherit!important;
}