@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
   margin: 0;
   padding: 0;
}

body {
   background-color: rgb(20,20,20);
   color: rgb(230, 230, 230);
   font-family: Roboto;
   display: flex;
   flex-direction: column;
}

a {
   text-decoration: none;
   color: inherit;
}

header {
   display: flex;
   padding: 20px 20px 35px 20px;
   margin: 15px;
   justify-content: space-between;
   align-items: center;
   border-bottom: 2px solid #222;
}

.logo-container {
   border-radius: 100%;
   width: 180px;
   aspect-ratio: 1;
   overflow: hidden;
   background-color: rgb(230, 230, 230);
}

#logo {
   width: 100%;
   aspect-ratio: 1;
   transform: scale(1.25);
}

.banner {
   margin-right: 20%;
   width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   gap: 15px;
}

.banner .igdm {
   font-size: 2em;
   width: fit-content;
   padding: 20px 40px;
   background-color: #5E10CA;
}

.banner-top {  
   border-radius: 5px 50px 50px 50px;
   align-self: flex-start;
}

.banner-down {  
   border-radius: 50px 5px 50px 50px;
   align-self: flex-end;
}

.banner-down img{  
   height: 1em;
}



.prev-bar {
   display: flex;
}

#subscription-box {
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   font-size: 2em;
   width: 25%;
   padding-inline: 10px;
   box-sizing: border-box;
}

#subscription-box span {
   font-size: 4em;
}

.places {
   flex: 3;
   display: grid;
   grid-template-columns: 2fr 3fr;
   grid-template-rows: 400px;
   padding: 20px;
   gap: 10px;
}

.place {
   overflow: hidden;
}

.place img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

#subscription-box:hover {
   font-weight: bold;
}



.search-container {
   display: flex;
   align-items: baseline;
   padding: 60px 60px;
   /* margin: 30px 15px; */
   background-color: #7c1bbd;
}

.search-container span{
   font-size: 2em;
   margin-right: 60px;
}

.search-bar{
   flex: 1;
   font-size: 1.6em;
   padding: 20px;
   border-radius: 30px;
   border-style: hidden;
}



.places .grid {
   flex: 1;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 800px 800px;
}



footer {
   margin: 30px 30px;
   display: flex;
   justify-content: space-evenly;
}

.footer-logo {
   width: 100px;

}

.footer-logo img {
   width: 100%;
}