header {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-bottom: 50px;
}

.bg-image img {
  width: 100%;
}

.logo-container {
  flex: 2;
  transform: scale(0.6);
}

#logo {
  width: 100%;
  aspect-ratio: 1;
}

.banner {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
  font-size: 0.75em;
  position: relative;
  opacity: 0.75;
}

.igdm {
  width: fit-content;
  padding: 0.5em 1em;
  background-color: #5e10ca;
  font-size: 2em;
}

.igdm-top {
  border-radius: 5px 50px 50px 50px;
  align-self: flex-start;
}

.igdm-down {
  border-radius: 50px 5px 50px 50px;
  align-self: flex-end;
}

.igdm-down img {
  height: 1em;
}

.bg-image {
   display: none;
  position: absolute;
  transform: scale(240%) translate(-18%, -10%);
  z-index: -1;
}

@media (min-width: 768px) {
  header {
    height: fit-content;
    padding-bottom: 0;
  }

  .banner {
    flex: 3;
    padding-inline: 25%;
  }

  .bg-image {
   display: block;
  }
}

/* MQ para solucionar problemas con tamaños muy grandes */
@media (min-width: 3850px) {
  .banner .igdm {
    margin-right: 10vmax;
  }
}

* {
  box-sizing: border-box;
}
