.search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(94,16,202,1) 0%, rgba(185,0,255,1) 100%);
  padding: 30px 10px;
}

.search-text {
  font-size: 1.25em;
  flex: 0 0 auto;
  text-align: center;
  overflow: hidden;
}

.search-bar {
  font-size: 1.25em;
  padding: 0.5em 0.75em;
  border-radius: 50px;
  border-style: hidden;
  flex: 3;
  z-index: 1;
  transition: flex 0.25s;
  background-color: #eee;
}

@media (min-width: 768px) {
  .search-container {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: baseline;
    justify-content: right;
    padding: 30px 30px;
  }

  .search-text {
    font-size: 2em;
    padding: 0.75em 1.25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .br {
    display: none;
  }

  .search-bar {
    font-size: 1.6em;
    padding: 0.75em 1.25em;
    margin-inline-start: 0.75em;
    border-radius: 50px;
    border-style: hidden;
    flex: 3;
    z-index: 1;
    transition: flex 0.25s;
    background-color: #eee;
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.5);
  }
}
