body {
  padding: 6em 1em 3em 1em;
}

.about-section {
  display: flex;
  flex-direction: column;
  margin-block-end: 0.5em;
}

.igdm {
  padding: 1em 1.75em;
  font-size: 1em;
  position: relative;
  margin-block-end: 0.5em;
}

.igdm-top {
  align-self: start;
}

.igdm-down {
  align-self: end;
}

.emoji-reaction {
  background-color: #111111;
  font-size: 1.75em;
  position: absolute;
  bottom: -1em;
  border-radius: 0.5em;
  padding: 0 0.15em;
  aspect-ratio: 1;
  border: 2px solid rgb(7, 7, 7);
  transform: scale(0.8);
}

.igdm-top .emoji-reaction {
  right: 1em;
}

.igdm-down .emoji-reaction {
  left: 1em;
}

.igdm:has(.emoji-reaction) {
  margin-block-end: 2em;
  padding-block-end: 1.5em;
}

@media (min-width: 768px) {
  body {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-section {
    width: 1200px;
  }

  .igdm {
    font-size: 2em;
  }
}
