button {
  border: none;
  color: inherit;
}

button:active {
  outline: none;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.event-image-container {
  position: relative;
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.event-image-bg {
  position: absolute;
  height: 50vh;
  width: 100%;
  top: -50%;
  z-index: -1;
  border-radius: 75px;
  filter: blur(25px);
  transition: top ease 5s, transform ease 5s, filter 0.2s;
}

.event-image {
  object-fit: contain;
  border-radius: 0px 0px 15px 15px;
}

nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  z-index: 1;
}

nav a {
  padding: 0.25em 1em;
  background: linear-gradient(
    180deg,
    rgba(7, 7, 7, 1) 50%,
    rgba(94, 16, 203, 1) 100%
  );
  border-radius: 5px;
}

/* Main */

#event-description {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: linear-gradient(180deg, rgb(7, 7, 7) 0%, rgb(94, 16, 203) 100%);
}

.event-title {
  font-size: 1.25em;
  font-weight: bold;
}

.mandarina {
  color: rgb(255, 157, 0);
}

.event-location {
  display: flex;
  justify-content: center;
}

.event-location iframe {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.66);
}

.event-main-description {
  padding: 0.75em 0.75em 0.75em;
  border-radius: 0.75em;
  border: none;
  background: linear-gradient(180deg, rgb(7, 7, 7) 0%, rgb(94, 16, 203) 100%);
}

#event-pics {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: linear-gradient(0deg, rgb(7, 7, 7) 0%, rgb(94, 16, 203) 100%);
}

.pic-gallery {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.pic-gallery img {
  width: 100%;
  border-radius: 1em 0 1em 0;
}

#event-reviews {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: linear-gradient(180deg, rgb(7, 7, 7) 0%, rgb(94, 16, 203) 100%);
}

.review-card {
  display: flex;
  flex-direction: column;
  border-radius: 2em 0 2em 0;
  overflow: hidden;
  background: linear-gradient(180deg, rgb(121, 16, 151) 0%, rgb(7, 7, 7) 100%);
}

.review-top {
  display: flex;
  align-items: center;
}

.reviewer-photo {
  margin: 0.75em;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 100%;
  overflow: hidden;
}

.reviewer-photo img {
  width: 100%;
}

.review-title {
  flex: 1;
}

.review-title .reviewer-name {
  font-weight: bold;
}

.review-bottom {
  padding: 1.25em 1.25em 1em 1em;
}

.show-more-link {
  padding: 0.75em;
  border-radius: 0.5em;
  background-color: rgba(0, 0, 0, 0.66);
  text-decoration: underline !important;
  font-weight: bold;
}

#event-attendance {
  padding: 5em 1em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  background: linear-gradient(0deg, rgb(7, 7, 7) 0%, rgb(94, 16, 203) 100%);
}

.yendo-button {
  padding: 0.25em 1em;
  background: linear-gradient(
    0deg,
    rgba(7, 7, 7, 1) 0%,
    rgb(121, 16, 151) 100%
  );
  border-radius: 2em;
}

.yendo-button:hover {
  opacity: 0.75;
  outline: none;
}

@media (min-width: 768px) {
  body {
    font-size: 1.5em;
  }

  header {
    padding-inline-start: 90px;
    gap: 90px;
    flex-direction: row;
    justify-content: center;
  }

  .event-image-container {
    height: 90vh;
    overflow: visible;
  }

  .event-image {
    object-fit: contain;
    border-radius: 0px 0px 0.75em 0.75em;
  }

  .event-image-bg {
    top: 0;
    border-radius: 175px;
    height: 100%;
    transform: matrix3d(2, 0, 0, 0, 0, 2.5, 0, 0.006, 0, 0, 1, 0, 0, 0, 200, 1);
    /* WHAAAAAT */
    /* YEAH */
    filter: blur(100px);
  }

  nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    height: 90%;
    z-index: 1;
  }

  nav a {
    padding: 1.25em 1em;
    background: linear-gradient(
      180deg,
      rgba(7, 7, 7, 1) 50%,
      rgba(94, 16, 203, 1) 100%
    );
    border-radius: 0.75em 0 0 0.75em;
  }

  #event-description {
    display: grid;
    background: linear-gradient(180deg, rgb(7, 7, 7) 0%, rgb(94, 16, 203) 100%);
    grid-template-areas:
      "details location"
      "description description";
    grid-template-rows: 50vh 1fr;
    grid-template-columns: 2fr 1fr;
    row-gap: 2em;
  }

  .event-details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 0.5em;
  }

  .event-location {
    grid-area: location;
    display: flex;
    justify-content: start;
  }

  .event-main-description {
    grid-area: description;
  }
}

/* #event-description {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: linear-gradient(180deg, rgb(7, 7, 7) 0%, rgb(94, 16, 203) 100%);
}

.event-title {
  font-size: 1.25em;
  font-weight: bold;
}

.mandarina {
  color: rgb(255, 157, 0);
}

.event-location {
  display: flex;
  justify-content: center;
}

.event-location iframe {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.66);
}

.event-main-description {
  padding: 0.75em 0.75em 0.75em;
  border-radius: 0.75em;
  border: none;
  background: linear-gradient(180deg, rgb(7, 7, 7) 0%, rgb(94, 16, 203) 100%);
} */
