a {
  text-decoration: underline !important;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.event-image-container {
  position: relative;
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.event-image-bg {
  position: absolute;
  height: 50vh;
  width: 100%;
  top: -50%;
  z-index: -1;
  border-radius: 75px;
  filter: blur(25px);
}

.event-image {
  object-fit: contain;
  border-radius: 0px 0px 15px 15px;
}

nav {
  flex: 1;
  z-index: 1;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  height: 100%;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  padding: 0.25em 1em;
  background: linear-gradient(
    180deg,
    rgba(7, 7, 7, 1) 50%,
    rgba(94, 16, 203, 1) 100%
  );
  border-radius: 5px;
}

/* Main */

#event-description {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: linear-gradient(
    180deg,
    rgb(7, 7, 7) 50%,
    rgb(94, 16, 203) 100%
  );
}

.event-title {
  font-size: 1.25em;
  font-weight: bold;
}

.event-time span {
  color: rgb(255, 157, 0);
}

.event-location {
  display: flex;
  justify-content: center;
}

.event-location iframe {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.66);
}

.event-main-description {
  padding: 0.75em 0.75em 0.75em;
  border-radius: 0.5em;
  border: none;
  box-shadow: 0 0 5px black;
}

#event-reviews {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: linear-gradient(
    180deg,
    rgb(94, 16, 203) 50%,
    rgb(7, 7, 7) 100%
  );
}

.review-card {
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(203, 16, 16, 0.261)0%,
    rgb(7, 7, 7) 100%
  );
}

.review-top {
  display: flex;
  align-items: center;
}

.reviewer-photo {
  margin: 0.75em;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 100%;
  overflow: hidden;
}

.reviewer-photo img {
  width: 100%;
}

.review-title .reviewer-name {
  font-weight: bold;
}

.review-bottom {
  padding: 1.25em 1.25em 1em 1em;
}