.floating-logo {
  display: flex;
  justify-content: right;
  position: fixed;
  left: -40px;
  top: 20px;
  width: 80px;
  height: 80px;
  z-index: 10;
  transition: padding-inline-start 0.25s;
}

.floating-logo:hover {
  cursor: pointer;
  padding-inline-start: 200px;
}

.floating-logo img {
  height: 100%;
  aspect-ratio: 1;
  transform: scale(1.1);
  background-color: #e7e7e7;
  border-radius: 100%;
}

@media (min-width: 768px) {
  .floating-logo {
   left: -60px;
   top: 30px;
   width: 120px;
   height: 120px;
 }
 
 .floating-logo:hover {
    padding-inline-start: 200px;
 }
}
